<h1>All products:</h1>

<%= link_to "Add a product", new_product_path %> 

<% @products.each do |product| %>
	<h2><%= link_to product.name, "/products/#{product.id}" %></h2>
	<p>Description: <%= product.description %></p>
	<p>Price: <%= product.formatted_price %></p>
<% end %> 

